name: CI (npm package)

on:
  pull_request:
    types:
      - ready_for_review
      - review_requested
    paths:
      - ".github/workflows/ci-package.yaml"
      - "**/package.json"
      - "**/tsconfig.json"
      - "biome.json"
      - "packages/**/*.js"
      - "packages/**/*.ts"
      - "pnpm-lock.yaml"
  push:
    branches:
      - main

jobs:
  build:
    name: Bulid packages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: latest
          package-manager-cache: false

      - name: Setup pnpm and install dependencies
        uses: ./.github/actions/setup-pnpm

      - name: Build packages
        run: |
          pnpm run build

  check:
    name: Check
    runs-on: ubuntu-latest
    needs: build

    permissions:
      checks: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: latest
          package-manager-cache: false

      - name: Setup pnpm and install dependencies
        uses: ./.github/actions/setup-pnpm

      - name: Run biome
        uses: mongolyy/reviewdog-action-biome@cf9206b36be1b4dbce665866def251ee685a7f71 # v2.8.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tool_name: Check result (Biome)
          reporter: github-check

  test:
    name: Test (${{ matrix.label }})
    runs-on: ${{ matrix.os }}
    needs: build

    strategy:
      fail-fast: false
      matrix:
        include:
          - label: edge-runtime
            os: ubuntu-latest
            node-version: latest
            test-environment: edge-runtime
          - label: nodejs-latest
            os: ubuntu-latest
            node-version: latest
            test-environment: node
          - label: nodejs-24
            os: ubuntu-latest
            node-version: 24
            test-environment: node
          - label: nodejs-22
            os: ubuntu-latest
            node-version: 22
            test-environment: node
          - label: nodejs-20
            os: ubuntu-latest
            node-version: 20
            test-environment: node

    permissions:
      checks: write
      contents: read
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          package-manager-cache: false

      - name: Setup pnpm and install dependencies
        uses: ./.github/actions/setup-pnpm

      - name: Run test
        run: |
          pnpm run test \
            --environment=${{ matrix.test-environment }} \
            --reporter=default \
            --reporter=junit \
            --outputFile=./result.xml \
            --silent

      - name: Report test result
        if: ${{ (success() || failure()) }}
        uses: mikepenz/action-junit-report@74626db7353a25a20a72816467ebf035f674c5f8 # v6.2.0
        with:
          check_name: Test result (${{ matrix.label }})
          report_paths: ./result.xml

      - name: Report test coverage
        if: ${{ (success() || failure()) && (github.event_name == 'pull_request') && (matrix.os == 'ubuntu-latest') && (matrix.label == 'edge-runtime') }}
        uses: davelosert/vitest-coverage-report-action@15b5b41bb7d36796d89f4bf482b09529c53f3446 # v2.9.2
        with:
          vite-config-path: ./vitest.workspace.js
