name: Cleanup caches for closed branch

permissions:
  actions: write

on:
  pull_request:
    types:
      - closed

jobs:
  cleanup:
    name: Cleanup Cache
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.4

      - name: Setup gh-actions-cache
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh extension install actions/gh-actions-cache

      - name: Cleanup cache
        continue-on-error: true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
          BRANCH: refs/pull/${{ github.event.pull_request.number }}/merge
        run: |
          echo "Fetching list of cache key"
          cacheKeysForPR=$(
            gh actions-cache list -R "${REPO}" -B "${BRANCH}" \
            | cut -f 1
          )

          ## Setting this to not fail the workflow while deleting cache keys.
          set +e
          echo "Deleting caches..."
          for cacheKey in ${cacheKeysForPR}; do
            gh actions-cache delete "${cacheKey}" \
              -R "${REPO}" \
              -B "${BRANCH}" \
              --confirm
          done
          echo "Done"
